<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_ros2_control">
    <ros2_control name="arm_system" type="system">
        <hardware>
            <plugin>hardware/HardwareInterface</plugin>
            <param name="fake_sensor_commands">false</param>
        </hardware>

        <joint name="joint_1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">0</param>
        </joint>

        <joint name="joint_2">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">1</param>
        </joint>

        <joint name="joint_3">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">2</param>
        </joint>

        <joint name="joint_4">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">3</param>
        </joint>

        <joint name="joint_5">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">4</param>
        </joint>

        <joint name="joint_6">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">5</param>
        </joint>
    </ros2_control>

    </xacro:macro>
</robot>
