<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_ros2_control">
    <ros2_control name="arm_system" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="fake_sensor_commands">false</param>
        </hardware>

        <joint name="arm_joint1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">0</param>
        </joint>

        <joint name="arm_joint2">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">1</param>
        </joint>

        <joint name="arm_joint3">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">2</param>
        </joint>

        <joint name="arm_joint4">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">3</param>
        </joint>

        <joint name="arm_joint5">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">4</param>
        </joint>

        <joint name="arm_joint6">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">5</param>
        </joint>

        <joint name="arm_joint7">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">6</param>
        </joint>

        <joint name="arm_finger_joint1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <param name="servo_id">7</param>
        </joint>
    </ros2_control>

    </xacro:macro>
</robot>
